<table>
  <tr>
    <th>Period</th>
    <th>Amount</th>
  </tr>
  <% amounts.each do |amount| %>
    <tr>
      <div class="amount">
        <td><%= amount.period %></td>
        <td><%= amount.rate %></td>
      </div>
    </tr>
  <% end %>
</table>
